.home-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.home-content {
  background: var(--white);
  padding: 2.67rem 2.67rem 2.67rem 16rem;
  width: 60%;
  position: relative;
  z-index: 1;
  margin-left: 12%;
  margin-top: 6.67rem;
  margin-bottom: 8rem;
}

.home-content li {
  list-style: none;
  margin-top: 1rem;
}

.home-content li i {
  margin-right: 0.67rem;
}

.home-content li a {
  text-decoration: none;
  color: var(--black);
  transition: 0.2s;
}

.home-content li a:hover {
  text-decoration: none;
  color: var(--blue);
}

.home-images {
  position: absolute;
  left: -2.33rem;
  top: -4.33rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2.67rem;
  z-index: 2;
}

.home-image {
  width: 100%;
}

.home-section {
  margin-bottom: 2.67rem;
}

.home-section:last-child {
  margin-bottom: 0;
}

.home-section h2 {
  font-size: 2.33rem;
  margin-bottom: 1.33rem;
}

.home-content h2 {
  font-size: 2.33rem;
}

.home-content p {
  font-size: 1.67rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #333;
}

.home-content ul {
  margin-bottom: 1.33rem;
}

@media (max-width: 1024px) {
  .home-item {
    padding: 0 2rem;
  }

  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .home-content {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 2rem;
    margin-bottom: 2rem;
    order: 1;
  }

  .home-images {
    position: static;
    width: 100%;
    margin: 0;
    order: 2;
    margin-bottom: 2rem;
  }

  .home-section h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .home-item {
    padding: 0 1rem;
  }

  .home-content {
    padding: 1.5rem;
  }

  .home-header h1 {
    font-size: 2rem;
  }
}
